.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, rgba(110, 94, 254, 1) 0%, rgba(73, 63, 200, 1) 100%);
  color: white;
  font-family: Arial, sans-serif; /* Default font family */
}

.home-splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  text-align: center;
}

.title-div {
  max-width: 600px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.cta-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #0056b3;
}

.image-div {
  text-align: center;
}

.drink-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin-top: 20px;
}

@media screen and (min-width: 1018px) {
  .home-page {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .home-splash {
    flex-direction: row;
    text-align: left;
  }
  .image-div {
    text-align: right;
  }
}
