.Navbar-Items {
  background-color: #333;
  padding: 10px 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.nav-brand {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin: 0 10px;
}

.nav-menu .default,
.nav-menu .active {
  color: white;
  text-decoration: none;
}

.cta-div {
  display: flex;
  align-items: center;
}

.nav-link,
.nav-cta-link,
.cta-link {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.nav-right {
  margin-left: auto;
}
