/* Common Styles */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (40px + 10vh)); /* Adjust this calculation as necessary */
  background-image: url('https://i.postimg.cc/Vz74RQFf/vecteezy-blurred-restaurant-scene-with-empty-tabletop-1900916.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

footer {
  height: 6.5vh;
  position: relative;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  section {
    background-size: contain;
  }

  footer {
    visibility: hidden;
  }
}

/* Ensure the entire HTML and body take the full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* The root element should take the full height */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content should flex to fill available space */
main {
  flex: 1;
}

/* Ensure the footer is styled appropriately */
.footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}

.footer a {
  color: #f8f9fa;
  text-decoration: none;
}

.footer a:hover {
  color: #007bff;
  text-decoration: none;
}

.footer p {
  margin: 0;
}
