/* background-image:url('https://i.postimg.cc/Vz74RQFf/vecteezy-blurred-restaurant-scene-with-empty-tabletop-1900916.jpg'); */
header {
  position: absolute;
  width: 100%;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (40px + 30px));
  background-image: url('https://i.postimg.cc/Vz74RQFf/vecteezy-blurred-restaurant-scene-with-empty-tabletop-1900916.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
footer {
  position: absolute;
}

img {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
