.drink-card {
  background-color: white;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.drink-card:hover {
  transform: scale(1.05);
}

.drink-image {
  display: block;
  height: auto;
  width: 100%;
  max-width: 150px;
  margin: auto;
  border-radius: 8px;
}

.drink-name {
  margin-top: 10px;
  font-size: 1em;
  color: #333;
}
